@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* button style */

.btn {
  width: 105px;
  height: 44px;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

/* <===========================================>
            Hero section start here
   <===========================================> */

.hero_section {
  width: 1104px;
  height: 577px;
  position: relative;
  margin: 0 auto;
  background: rgb(255, 248, 243);
  overflow: hidden;
}

.hero_section nav {
  width: 70%;
  height: 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.hero_section nav h1 {
  width: 83px;
  height: 42px;
  font-family: Open Sans;
  font-size: 31px;
  font-weight: 800;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
}
.hero_section nav #logo_style {
  color: rgb(253, 110, 10);
}

.hero_section nav ul {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero_section nav ul li a {
  text-decoration: none;
  width: 130px;
  height: 18px;
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.hero_section .text_content {
  width: 430px;
  height: 250px;
  position: absolute;
  top: 37%;
  left: 15%;
}

.hero_section .text_content h3 {
  width: 125px;
  height: 43px;
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
}

.hero_section .text_content h1 {
  width: 345px;
  height: 80px;
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}

.hero_section .text_content p {
  width: 565px;
  height: 53px;
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.btn_dw {
  width: 140px;
  height: 44px;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-top: 24px;
}

.btn_cont {
  width: 140px;
  height: 44px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid rgb(253, 110, 10);
  cursor: pointer;
  color: rgb(253, 110, 10);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-top: 24px;
  margin-left: 24px;
}

.rainbow_img {
  width: 470px;
  height: 310px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.rainbow_img img {
  width: 100%;
  height: 100%;
}

.person_img {
  width: 370px;
  height: 450px;
  position: absolute;
  right: -15px;
  bottom: 0;
  z-index: 1;
}

.person_img img {
  width: 100%;
  height: 100%;
}

.developer_img {
  width: 94px;
  height: 530px;
  margin-top: -6%;
  margin-left: 1%;
}

.developer_img img {
  width: 100%;
  height: 100%;
}

/* <===========================================>
            About me section start here
   <===========================================> */

.about {
  width: 800px;
  height: 380px;
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(255, 248, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.about .about_box_me {
  width: 580px;
  height: 230px;
  background: rgb(255, 255, 255);
}

.about .about_box_me h2 {
  height: 48px;
  width: 570px;
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

.about .about_box_me > p {
  width: 570px;
  height: 100px;
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.about .about_box_me .address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.about .about_box_me .address .box {
  width: 144px;
  height: 48px;
  margin-top: 10px;
}

.about .about_box_me .address .box p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.about .about_box_me .address .box .text_style {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

/* <===========================================>
            My Skill section start here
   <===========================================> */

.my_skill {
  width: 800px;
  height: 465px;
  margin: 0 auto;
  margin-top: 80px;
  background: rgb(255, 255, 255);
}

.my_skill .experience {
  height: 120px;
  width: 650px;
  margin: 0 auto;
}

.my_skill .experience h1 {
  width: 160px;
  height: 40px;
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.my_skill .experience p {
  width: 630px;
  height: 60px;
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
}

.my_skill .familear_technology_container {
  height: 323px;
  width: 795px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.my_skill .familear_technology_container .technology {
  height: 311px;
  width: 193px;
  padding: 20px;
  border-radius: 5px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

.my_skill .familear_technology_container .technology .logo {
  height: 40px;
  width: 40px;
  margin-bottom: 25px;
}

.my_skill .familear_technology_container .technology .logo img {
  width: 100%;
  height: 100%;
}

.my_skill .familear_technology_container .technology h3 {
  width: 164px;
  height: 24px;
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.my_skill .familear_technology_container .technology p {
  width: 158px;
  height: 196px;
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* <===========================================>
            Summary section start here
   <===========================================> */

.summary {
  height: 690px;
  width: 800px;
  margin: 0 auto;
  margin-top: 100px;
}

.summary > h2 {
  width: 420px;
  height: 40px;
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
}

.summary .summary_container {
  margin-top: 30px;
  height: 620px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary .summary_container .box_1 {
  width: 360px;
  height: 200px;
}

.summary .summary_container .box_1 h3 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.summary .summary_container .box_1  h2 {
  color: rgb(117, 117, 117);
  margin-top: 10px;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.summary .summary_container   .box_1  b {
  color: rgb(117, 117, 117);
  margin-top: 8px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.summary .summary_container .box_1  p {
  margin-top: 10px;
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.summary .summary_container  .box_1  .straight_line {
  border: 1px solid rgb(209, 209, 209);
  margin-top: 24px;
}
